[tool.black]
line-length = 120
target-version = ['py37']
exclude = '''
/(
    geonode-rndt/.*/migrations/.*
  | geonode-rndt/.*/settings.py
  | management
  | scripts
  | docs
  | static
  | migrations
  | node_modules
)/
'''
