{% extends "layouts/panels.html" %}
{% load i18n %}
{% load static %}
{% load floppyforms %}

{% block additional_scripts %}
<script type="text/javascript" src="{% static "rndt/js/forms/rndt_form.js" %}"></script>
{% endblock additional_scripts %}

{% block layer_constraints %}
{% if not DISABLE_LAYER_CONSTRAINTS %}
  <div class="col-lg-4">
      <div>
          <span><label for="{{ layer_form.restriction_code_type|id }}">{{ layer_form.restriction_code_type.label }}</label></span>
          <!--<p class="xxs-font-size">(Limitation/s placed upon the access or use of data)</p>-->
          {{ layer_form.restriction_code_type }}
      </div>
      <div>
          <span><label for="{{ layer_form.constraints_other|id }}">{{ layer_form.constraints_other.label }}</label></span>
          <!--<p class="xxs-font-size">(Other restrictions and legal prerequisites for accessing or use data and metadata)</p>-->
          {{ layer_form.constraints_other }}
      </div>
  </div>
{% endif %}
{% endblock layer_constraints %}

{% block breadcrumbs %}
  <ul class="wizard--progress wizard--progress--medium">
      <li data-step="1" id="first" class="is-active" data-toggle="tab" href="#mandatory">
          <a>{% trans "Basic Metadata" %}</a>
      </li>
      <li data-step="2" id="second"  data-toggle="tab" href="#advanced">
          <a>{% trans "Location and Licenses" %}</a>
      </li>
      <li data-step="3" data-toggle="tab" href="#ownership">
          <a>{% trans "Optional Metadata" %}</a>
      </li>
      <li data-step="4"  data-toggle="tab" href="#dataset">
          <a>{% trans "Dataset Attributes" %}</a>
      </li>
      <li data-step="5"  data-toggle="tab" href="#additionalcontraints">
          <a>{% trans "Additional info" %}</a>
      </li>
  </ul>
  {% endblock breadcrumbs %}


 {% block edit_progress %}
   <div id="completeness-hints" class="progress">
    <div class="mandatory-hint progress-bar" role="progressbar" style="width:20%">
      {% trans "Mandatory" %}
    </div>
    <div class="advanced-hint progress-bar" role="progressbar" style="width:20%">
      {% trans "Mandatory" %}
    </div>
    <div class="progress-bar" role="progressbar" style="width:60%">
      {% trans "Optional" %}
    </div>
  </div>
 {% endblock edit_progress %}

 {% block other_tab %}
{% load rndt_extra %}
    <div id="additionalcontraints" class="tab-pane fade">
        <div class="panel-group">
            <div class="col-xs-12 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Data Contraints" %}</div>
                        <div class="panel-body">
                            <div>
                                <!--span><label>{% trans "Access constraints" %}</label></span>
                                {{ LayerRNDTForm.access_contraints }}-->
                                <span><label for="id_access_contraints" class="control-label required-field">{% trans "Access constraints" %}</label></span>
                                <select
                                    title="{% trans "Choose one of the following..." %}"
                                    name="access_contraints"
                                    id="id_access_contraints"
                                    class="selectpicker form-control"
                                    >
                                    {% for item in LayerRNDTForm.access_contraints.field.choices %}
                                        {% if item.0|is_saved_one:layer.id %}
                                        <option  selected value="{{ item.0 }}">
                                        {% else %}
                                        <option  value="{{ item.0 }}">
                                        {% endif %}
                                            {{ item.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <span><label for="id_use_constraints" class="control-label required-field">{% trans "Use constraints" %}</label></span>
                                <select
                                    title="{% trans "Choose one of the following..." %}"
                                    name="use_constraints"
                                    id="id_use_constraints"
                                    class="selectpicker form-control"
                                    >                                    
                                    {% for item in LayerRNDTForm.use_constraints.field.choices %}
                                        {% if item.0|get_other_constraint:layer.id %}
                                        <option  selected value="{{ item.0 }}">
                                        {% else %}
                                        <option value="{{ item.0 }}">
                                        {% endif %}
                                            {{ item.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="free_text" hidden>
                                <span><label>{% trans "Free text" %}</label></span>
                                {{ LayerRNDTForm.free_text }}
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("select[name$='use_constraints']").click(function() {
                                        if ($(this).val() == 'freetext') {
                                            $("#free_text").show();
                                        } else {
                                            $("#free_text").hide();
                                        }
                                    });
                                    var x = $("#id_use_constraints");
                                    if ((x.val() == 'freetext' || x.val() == '') && "{{layer.constraints_other}}") {
                                        $("select[id$='id_use_constraints']").val("freetext");
                                        $("textarea[id$='free_text']").val("{{layer.constraints_other}}");
                                        $("div[id$='free_text']").show();
                                    }
                                });
                            </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock other_tab %}
