{% extends "layouts/panels.html" %}
{% load i18n %}
{% load static %}
{% load floppyforms %}

{% block layer_constraints %}
{% if not DISABLE_LAYER_CONSTRAINTS %}
  <div class="col-lg-4">
      <div>
          <span><label for="{{ layer_form.restriction_code_type|id }}">{{ layer_form.restriction_code_type.label }}</label></span>
          <!--<p class="xxs-font-size">(Limitation/s placed upon the access or use of data)</p>-->
          {{ layer_form.restriction_code_type }}
      </div>
      <div>
          <span><label for="{{ layer_form.constraints_other|id }}">{{ layer_form.constraints_other.label }}</label></span>
          <!--<p class="xxs-font-size">(Other restrictions and legal prerequisites for accessing or use data and metadata)</p>-->
          {{ layer_form.constraints_other }}
      </div>
  </div>
{% endif %}
{% endblock layer_constraints %}

{% block breadcrumbs %}
  <ul class="wizard--progress wizard--progress--medium">
      <li data-step="1" id="first" class="is-active" data-toggle="tab" href="#mandatory">
          <a>{% trans "Basic Metadata" %}</a>
      </li>
      <li data-step="2" id="second"  data-toggle="tab" href="#advanced">
          <a>{% trans "Location and Licenses" %}</a>
      </li>
      <li data-step="3" data-toggle="tab" href="#ownership">
          <a>{% trans "Optional Metadata" %}</a>
      </li>
      <li data-step="4"  data-toggle="tab" href="#dataset">
          <a>{% trans "Dataset Attributes" %}</a>
      </li>
      <li data-step="5"  data-toggle="tab" href="#additionalcontraints">
          <a>{% trans "Additional Contraints" %}</a>
      </li>
  </ul>
  {% endblock breadcrumbs %}


 {% block edit_progress %}
   <div id="completeness-hints" class="progress">
    <div class="mandatory-hint progress-bar" role="progressbar" style="width:20%">
      {% trans "Mandatory" %}
    </div>
    <div class="advanced-hint progress-bar" role="progressbar" style="width:20%">
      {% trans "Mandatory" %}
    </div>
    <div class="progress-bar" role="progressbar" style="width:60%">
      {% trans "Optional" %}
    </div>
  </div>
 {% endblock edit_progress %}

 {% block other_tab %}
    <div id="additionalcontraints" class="tab-pane fade">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col">
                            <div id="additionalcontraintsInfo" class="container-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <span><label for="{{ LayerRNDTForm.limitation_public_access|id }}">{{ LayerRNDTForm.limitation_public_access.label }}</label></span>
                            <!--<p class="xxs-font-size">(Name by which the cited resource is known)</p>-->
                            <br>
                            <div>
                            {{ LayerRNDTForm.limitation_public_access }}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <span><label>{% trans "Please select one for" %} ConditionsApplyingToAccessAndUse:</label></span>
                            <br>
                            <input type="radio" id="age1" name="rndt_constr_choice" value="1" checked>
                            <label for="age1">{% trans "Choices" %}</label>
                            <input type="radio" id="age2" name="rndt_constr_choice" value="2">
                            <label for="age2">{% trans "text" %}</label><br>
                            <div class="rndt_choice" id="rndt_choice_1">
                                <!--<p class="xxs-font-size">(Name by which the cited resource is known)</p>-->
                                {{ LayerRNDTForm.condition }}
                            </div>
                            <div class="rndt_choice" id="rndt_choice_2" hidden>
                                <!--<p class="xxs-font-size">(Name by which the cited resource is known)</p>-->
                                {{ LayerRNDTForm.free_text }}
                            </div>
                            <script type="text/javascript"> 
                                $(document).ready(function() {
                                    $("input[name$='rndt_constr_choice']").click(function() {
                                        var choice = $(this).val();
                                        $("div.rndt_choice").hide();
                                        $("#rndt_choice_" + choice).show();
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
 {% endblock other_tab %}
