{% extends "search/_search_content.html" %}
  {% block search_facet_lists %}
  {% if SEARCH_FILTERS.H_KEYWORDS_ENABLED %}
    {% include "search/_h_keywords_filter.html" %}
  {% endif %}
  {% if SEARCH_FILTERS.T_KEYWORDS_ENABLED %}
    {% include "search/_t_keywords_filter.html" %}
  {% endif %}
  {% if SEARCH_FILTERS.TYPE_ENABLED and include_type_filter == 'true' %}
    {% include "search/_type_filters.html" %}
  {% endif %}
  {% include "search/_general_filters.html" %}
  {% if SEARCH_FILTERS.REGION_ENABLED %}
    {% include "search/_region_filter.html" %}
  {% endif %}
  {% if SEARCH_FILTERS.EXTENT_ENABLED %}
    {% include "search/_extent_filter.html" %}
  {% endif %}
  {% include "search/_pa_filter.html" %}
{% endblock %}